body {
    /* background-color: red; */
    margin: 0;
}

#bleu {
    height: 100px;
    width: 400px;
    margin-left: auto;
    /* background-color: yellow; */
    /* padding-left: 1200px; */
    /* padding-right: 800px; */
    display: flex;
    align-items: center;

}

#bleu p {
    font-size: 20px;
    margin-left: 10px;

}

#navbar {
    background-color: black;
    width: 70%;
    padding-top: 40px;

}

#navbar ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.navitem {
    color: white;
    font-size: 20px;
    /* background-color: red; */
    padding: 10px;
}

.navitem:hover {
    color: gray;
    cursor: pointer;
    border-bottom: solid red 2px;
}

.actif {
    border-bottom: solid red 2px;

}

#blanc {
    height: 200px;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    /* margin-bottom: 40px; */
}

#blanc img {
    /* margin-left: 20px; */

}

#noir {
    height: 600px;
    background-color: black;

}

img.mySlides {
    width: 100%;
    height: 100%;
    /* border: solid red; */
    object-fit: none;
}

.w3-content {
    width: 100%;
    height: 100%;
    /* border: solid green; */

}

#presentation {
    height: 200px;
    background-color: white;
    text-align: center;
    padding: 70px;
}

/* #presentation h1 {
    border: solid gray;
    background-color: gray;
} */

#presentation .important {
    text-transform: uppercase;
    color: gray;

}

#directeur {
    height: 300px;
    width: 92%;
    /* background-color: red; */
    margin: 0 auto;
    display: flex;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
}

.lord {
    height: 300px;
    width: 100%;
    /* display: flex; */
    justify-content: space-between;
    margin-left: 15px;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

.center {
    text-align: center;
}


.lord button {
    height: 40px;
    width: 100px;
    background-color: rgba(255, 255, 255, 1);
    /* margin: 0 auto; */
    /* margin-left: 110px; */
    border: gray;
    border-bottom: solid red 2px;


}

.lord button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;

}


.realisations {
    border: solid rgba(0, 0, 0, 0.2) 1px;


}

.realisations h1 {
    text-align: center;
    /* padding: 20px; */

}

.mot {

    /* border: solid gray; */

}

.mot h1 {
    text-align: center;
}