section {
    height: 740px;
    width: 100%;
    padding: 20px 10px;


}

#dg {
    text-align: center;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url(../images/oui.jpg);
}

#dg p {
    width: 50%;
    margin: 0 auto;
}

#REALISATIONS {
    /* height: ; */
    background-color: black;

}

.infos {
    height: 100%;
}

.texte h2 {
    /* padding: 30px; */
    margin-top: 0 auto;
    text-align: center;

}



.realisationitem {
    /* height: 75%; */
    /* width: 32%; */
    text-align: center;
    color: white;
    /* background-color: aquamarine; */
    background-color: rgba(0, 0, 0, 0.5);
    border: solid 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
}

.realisationitem p {
    padding-top: 25px;
    text-align: center;
}

.realisationitem img {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

/* .chill {
    background-image: url(../images/tuyau.jpg);
    background-size: cover;
    background-position: center; */
/* } */



form {
    width: 50%;
    margin: 0 auto;
}

#contact {
    /* background-image: url(../images/boy-8474750_1280.jpg); */
    object-fit: cover;
    height: 40%;
    /* background-repeat: no-repeat; */

}

.okey {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    border: solid 1px rgba(0, 0, 0, 0.3);
    width: 200px;
    margin-top: 50px;
    color: white;
    margin-left: 990px;
}

/* 
/* telephone */
/* @media screen and (max-width: 800px) {
    body {
        background-color: brown;
    }
    
} */

/* tablette */
@media screen and (min-width: 800px) and (max-width: 1200px) {
    body {
        background-color: rgb(42, 165, 58);
    }

    .infos {
        height: 100%;
        display: flex;
        justify-content: space-around;
    }
}

/* pc */
/* @media screen and (min-width: 1200px) {
    body {
        background-color: rgb(86, 107, 113);
    }
}   */